@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #111225;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.custom-blue {
  background-color: #1f2044;
}
.text-white {
  color: #ffffff !important;
}
.bg-custom-yellow {
  background-color: #d9a900;
}
.border-custom-yellow {
  border-color: #d9a900 !important;
}
.custom-yellow {
  background-color: #d9a900 !important;
}
.custom-light-blue {
  background-color: #414160;
}
.text-custom-yellow {
  color: #d9a900;
}
.inputBg {
  background-color: #414160;
}
.text-custom-slate {
  color: #6b7280;
}
.text-custom-whitish {
  color: #cbccd4;
}
.custom-dark-blue {
  background-color: #111225;
}
.custom-blue-shade1 {
  background-color: #414160;
}
.custom-blue-grey {
  background-color: #7d7e93;
}

.overflow {
  overflow: hidden !important;
}

.instructors {
  border-color: #7d7e93 !important;
  color: white !important;
}

.message-bubble {
  max-width: 80%;
  word-wrap: break-word;
  white-space: pre-line;
}
